@font-face {
    font-family: poppins_light;
    src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppins_regular;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins_medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins_semiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins_bold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins_extraBold;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}